---
layout: archive
title: "Publications"
permalink: /portfolio/
author_profile: true
---


<div style="display: flex; flex-direction: row; align-items: center; margin-bottom: 1em;">
  <img src="https://dragonlzm.github.io/zhuomingliu.github.io/images/EZSD.png" style="width: 20%; margin-right: 20px;">
  <div>
    <h2><a href="https://arxiv.org/abs/2303.12145">Zero-Shot Detection via Image-Language Knowledge Distillation on Weakly Supervised Regions</a></h2>
    <p style="margin-bottom: 0.2em;">ArXiv Preprint 2023.</p>
    <p>Zhuoming Liu*, Xuefeng Hu*, Ram Nevatia</p>
  </div>
</div>

<div style="display: flex; flex-direction: row; align-items: center;">
  <img src="https://dragonlzm.github.io/zhuomingliu.github.io/images/EZSD.png" style="width: 20%; margin-right: 20px;">
  <div>
    <h2><a href="https://arxiv.org/abs/2108.09331">Influence Selection for Active Learning</a></h2>
    <p style="margin-bottom: 0.2em;">The IEEE/CVF International Conference on Computer Vision 2021 (ICCV 2021).</p>
    <p>Zhuoming Liu*, Hao Ding*, Huaping Zhong, Weijia Li, Jifeng Dai, Conghui He</p>
  </div>
</div>



{% include base_path %}


{% for post in site.portfolio %}
  {% include archive-single.html %}
{% endfor %}

