---
layout: archive
title: "Publications"
permalink: /portfolio/
author_profile: true
---


<div class="row">
  <div class="column">
    <img src="https://dragonlzm.github.io/zhuomingliu.github.io/images/EZSD.png" style="width:20%">
  </div>
  <div class="column">
    <h2>Portfolio Item 1</h2>
    <p>Description of Portfolio Item 1.</p>
    <ul>
      <li>Feature 1</li>
      <li>Feature 2</li>
      <li>Feature 3</li>
    </ul>
  </div>
</div>

{% include base_path %}


{% for post in site.portfolio %}
  {% include archive-single.html %}
{% endfor %}

